.input-container{
    display: flex;
    width: 300px;
    justify-content: space-between;
    margin: 4px;
}

.input-wrapper{
    padding: 7px 0;
}

button{
    background-color: #18181b;
    color: #fff;
    padding: 8px 24px;
    border-radius: 4px;
    cursor: pointer;
}